.searchInput{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    height: 41px;
    width: 100%;
    padding-left: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    @media (min-width: 768px) {
        width: 161px;
        height: 41px;
        margin-bottom: 0;
    }
}
.searchTodo{
    display: flex;
    margin-bottom: 15px;
}

